* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size-md);
  line-height: var(--ui-line-height-normal);
  color: var(--ui-color-text);
  background-color: var(--ui-color-bg-subtle);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
